<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
     <connectionStrings>
      <add name="TodoDbContext" 
        connectionString="Server=a9966d5c-18b1-4179-9dfd-a30d00ce604d.sqlserver.sequelizer.com;Database=dba9966d5c18b141799dfda30d00ce604d;User ID=jtomznkhertkanwn;Password=cDdxn8a2FbxsNnW2jabatddGAkLXTRTebBLzG4AxTP62ieK623paC2m7AC5bvkgX;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
</configuration>