<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
     <connectionStrings>
      <add name="TodoDbContext" 
        connectionString="Server=bfef1883-3138-47da-9925-a34000f10363.sqlserver.sequelizer.com;Database=dbbfef1883313847da9925a34000f10363;User ID=tffkfvjzecfmbnrk;Password=bf76MfSBnofQbpFU4o6wxD5sRrwQgSLW6bbyxMNPCUm7TN44FzJWGsbEiMouRbuB;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
</configuration>